<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PHRASES (FR - EN) | HEALT</title>
	<link rel="stylesheet" href="components/bootstrap.min.css">
	<style>
		h5 {text-transform: capitalize;}
	</style>
</head>
<body style="background: #FEF7ED;">
	<div id="app" class="container-fluid">
			<div class="row bg-primary text-white p-2 mb-2">
				<div class="col-12 text-center text-white">
					<h3>PHRASES (FR,ES). DOCTOR</h3>
				</div>
			</div>
			<div class="row mb-2">
				<input type="text" placeholder="Search in FRENCH" class="form-control col alert-secondary text-center border border-success" v-model="phrase_fr" v-show="!phrase_es">
			</div>
			<div class="row mt-2">
				<input type="text" placeholder="Search in SPANISH" class="form-control col alert-secondary text-center border border-warning" v-model="phrase_es" v-show="!phrase_fr">
			</div>
			<template v-if="!phrase_fr">
				<div class="row mt-4" v-for="phrase in searchPhraseEs">
					<div class="col mt-3">
						<div class="alert alert-success">
							<h5>
								{{ phrase.phrase_fr }}
							</h5>
						</div>
					</div>
					<div class="col mt-3">
						<div class="alert alert-warning">
							<h5>
								{{ phrase.phrase_es }}	
							</h5>
						</div>
					</div>
				</div>
			</template>
			<template v-if="phrase_fr">
				<div class="row mt-4" v-for="phrase in searchPhraseFr">
					<div class="col mt-3">
						<div class="alert alert-success">
							<h5>
								{{ phrase.phrase_fr }}
							</h5>
						</div>
					</div>
					<div class="col mt-3">
						<div class="alert alert-warning">
							<h5>
								{{ phrase.phrase_es }}	
							</h5>
						</div>
					</div>
				</div>
			</template>

			<!-- <div class="col-lg-12">
				<pre>
					{{ $data }}
				</pre>
			</div> -->
	<div class="col-12 text-center py-4"><a href="https://github.com/Kurometus">Developed By KUROMETUS</a></div>
	</div>
<script type="text/javascript" src="components/vue.js"></script>
<script type="text/javascript" src="components/axios.min.js"></script>
<script>
	new Vue({
		el: '#app',
		created: function() {
			this.getPhrases()
		},
		data: {
			lists: [],
			phrase_fr: '',
			phrase_es: ''
		},
		methods: {
			getPhrases: function() {
				axios.get('asset/phrases.json').then(response => {
					this.lists = response.data.phrases
				});
			}
		},
		computed: {
			searchPhraseEs() {
	            var searchLower = this.phrase_es.toLowerCase();
	            return this.lists.filter((phrase) => phrase.phrase_es.toLowerCase().includes(searchLower));
	        },
	        searchPhraseFr() {
	            var searchLowerFr = this.phrase_fr.toLowerCase();
	            return this.lists.filter((phrase) => phrase.phrase_fr.toLowerCase().includes(searchLowerFr));
	        }
		}
	});
</script>
</body>
</html>